<!DOCTYPE html>



<div id="frodo" style="margin:auto; margin-top:15px"></div>
<div class="centerize">
	<div class="row">
		<p>
			<% if flash["error"] %>
	 			<div class="errors"><%= flash["error"] %></div>
			<% end %>
		</p>
	</div>

	
	<%= form_for :user, :url => '/sessions/create' do |f| %>
		<%= f.label :email %>
		<%= f.text_field :email, required:true, :class => 'heroic_input' %>

		<%= f.label :password %>
		<%= f.password_field :password, required:true, :class => 'heroic_input' %>

		<%= f.button :Embark %>	
			
	<% end %>