<!DOCTYPE html>
<div id="frodo" style="margin:auto; margin-top:15px"></div>

<div class="centerize">

	<div class="row">
		
			<% if flash["errors"] %>
		<% flash["errors"].each do |error_message| %> <br>
		 	<div class="errors"><%= error_message %></div>
			<% end %>
		<% end %>

			<% if flash.notice %>
				<p class='notice'> <%= flash.notice %> </p>
			<% end %>

	</div>
	
		<%= form_for :user, :url => '/users/create' do |f| %>
		<div class="row">
				<%= f.label :email, required:false %>
				<%= f.text_field :email, required:false, :class => 'heroic_input' %>
		</div>
		<div class="row">
			<div class="col-3">
				<%= f.label :password %>
				<%= f.password_field :password, :class => 'less heroic_input' %>
			</div>
			<div class="col-3">
				<%= f.label :Confirm %>
				<%= f.password_field :password_confirmation, :class => 'less heroic_input' %>
			</div>
				<%= f.button :Embark %>
		<!-- </div> -->

		<% end %>
	</div>
</div>