<!DOCTYPE html>

<div class="centerize">

	<div class="row">
		
			<% if flash["errors"] %>
		<% flash["errors"].each do |error_message| %> <br>
		 	<div class="errors"><%= error_message %></div>
			<% end %>
		<% end %>
	</div>

	<div class="row">
		<!-- <form method="post" action="users/create">
			<label for="email">Email</label>
			<input class="heroic_input" name='email'>
		
			<div class="col-3">
				<label for="password">Password</label>
				<input class="less heroic_input" type="password" name='password' on="key-press">
			</div>

			<div class="col-3">
				<label for="password_confirmation">Confirm</label>
				<input class='less heroic_input' type="password" on="key-press">
			</div>

			<button type='submit'>Embark</button>

		</form> -->

		<% form_tag(register_path, :method => "post") do %>
			<div class="less heroic_input">
				<%= label_tag(:email, "Email") %>
				<%= text_field_tag(:email, :class => 'less heroic_input') %>
			</div>
			<div class="less heroic_input">
				<%= label :password, required:false %>
				<%= password_field :password, required:false, :class => 'less heroic_input' %>
			</div>
				<%= button_tag(:embark) %>
			
		<% end %>
		<br>
		<%= link_to "Haven't started your journey yet?", 'users/login' %>
	</div>
</div>