<!DOCTYPE html>

<div class="centerize">

	<div class="row">
		
			<% if flash["errors"] %>
		<% flash["errors"].each do |error_message| %> <br>
		 	<div class="errors"><%= error_message %></div>
			<% end %>
		<% end %>
	</div>

	<!-- <div class="row"> -->
		<!-- <form method="post" action="users/create">
			<label for="email">Email</label>
			<input class="heroic_input" name='email'>
		
			<div class="col-3">
				<label for="password">Password</label>
				<input class="less heroic_input" type="password" name='password' on="key-press">
			</div>

			<div class="col-3">
				<label for="password_confirmation">Confirm</label>
				<input class='less heroic_input' type="password" on="key-press">
			</div>

			<button type='submit'>Embark</button>

		</form> -->

	
		<%= form_for :user, :url => '/users/create' do |f| %>
		<div class="row">
				<%= f.label :email, required:false %>
				<%= f.text_field :email, required:false, :class => 'heroic_input' %>
		</div>
		<div class="row">
			<div class="col-3">
				<%= f.label :password %>
				<%= f.password_field :password, :class => 'less heroic_input' %>
			</div>
			<div class="col-3">
				<%= f.label :password_confirm %>
				<%= f.password_field :password_confirmation, :class => 'less heroic_input' %>
			</div>
				<%= f.button :Embark %>
		<!-- </div> -->

		<% end %>
	</div>
</div>